<!DOCTYPE html>
<!--anything on this page is showing on all web pages in my site -->
<html>
<head>
  <title>Alpha Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  
  <!-- we want to have least amount of code here -->
 <%= render 'layouts/message' %>
  <div class="container">
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
  <!-- display this if Rials is in development -->
  <%=debug(params) if Rails.env.development? %>
</body>
</html>
